<html>
<body>
<b>Action required to maintain access to ORGANIZATION computer systems</b>
<p>When the computer login for <TMPL_VAR NAME="USERNAME"> was first created, it was set to expire at the end of the day on <TMPL_VAR NAME="EXPIRATIONDATE">.</p>
<p>If you do not take any action, <TMPL_VAR NAME="USERNAME"> will be unable to logon to any ORGANIZATION computer systems after that date. 
Allowing the account to expire will not affect any data or emails previously saved by the user.</p>
<p>If <TMPL_VAR NAME="USERNAME"> is still planning to finish their work on or before this date, simply disregard this message.</p>
<p>If you (or your supervisee) still plan to work at ORGANIZATION after <TMPL_VAR NAME="EXPIRATIONDATE">,
please have a supervisor contact <TMPL_VAR NAME="CONTACTPERSON"> 
as soon as possible with the last date that <TMPL_VAR NAME="USERNAME"> will be working at ORGANIZATION.</p>
</body>
</html>